.jt-grid--cell{
  width: 16px;
  height: 16px;
  background: aliceblue;
  display: block;
  float: left;
  box-sizing: border-box;
  border: 1px solid black;
}

.jt-grid--cell.active{
  background: green;
}

th {

}
